@import "tailwindcss";

:root {
  --bg-color: 240, 240, 240;
  --bg-color-alt: 176, 176, 176;
  --fg-color: 19, 21, 26;
  --fg-color-alt: 35, 38, 45;

  --shadow: rgba(0, 0, 0, 0.1);

  --accent: 43, 73, 207;
  --accent-light: 90, 115, 230;
  --accent-dark: 26, 52, 142;
  --complementary: 207, 177, 43;
  --complementary-light: 230, 205, 90;
  --complementary-dark: 142, 116, 26;

  --accent-gradient: linear-gradient(45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%);
  --complementary-gradient: linear-gradient(45deg,
      rgb(var(--complementary-dark)),
      rgb(var(--complementary)) 30%,
      rgb(var(--complementary-light)) 60%);
}

html.dark {
  --bg-color: 19, 21, 26;
  --bg-color-alt: 35, 38, 45;
  --fg-color: 240, 240, 240;
  --fg-color-alt: 176, 176, 176;

  --shadow: rgba(170, 170, 170, 0.1);

  --accent: 64, 190, 190;
  --accent-light: 175, 238, 238;
  --accent-dark: 0, 128, 128;
  --complementary: 190, 64, 64;
  --complementary-light: 238, 175, 175;
  --complementary-dark: 128, 0, 0;
}

html {
  font-family: system-ui, sans-serif;
  background-color: rgb(var(--bg-color));
  color: rgb(var(--fg-color));
  scrollbar-width: thin;
  scrollbar-color: rgb(var(--accent)) rgb(var(--bg-color));
  scrollbar-gutter: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Light Mode */
    --bg-color: 240, 240, 240;
    --bg-color-alt: 176, 176, 176;
    --fg-color: 19, 21, 26;
    --fg-color-alt: 35, 38, 45;

    --shadow: rgba(0, 0, 0, 0.1);

    --accent: 43, 73, 207;
    --accent-light: 90, 115, 230;
    --accent-dark: 26, 52, 142;
    --complementary: 207, 177, 43;
    --complementary-light: 230, 205, 90;
    --complementary-dark: 142, 116, 26;

  }
}

* {
  box-sizing: border-box;
  color: rgb(var(--fg-color));
  transition: color 200ms cubic-bezier(0.22, 1, 0.36, 1);
  /* margin: 0; */
  /* padding: 0; */
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin-bottom: 1em;
}

.text-gradient {
  background-image: var(--accent-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 400%;
  background-position: 0%;
}

@keyframes rotateIn {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

@keyframes rotateOut {
  from {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.icon-rotate-in {
  animation: rotateIn 0.5s forwards;
}

.icon-rotate-out {
  animation: rotateOut 0.5s forwards;
}